{{!-- this code concept is from Express Twitter --}}
<div class="game-block">
    <div class="game-block-header">
        <a class="game-title" href="games/{{id}}">
            <h1>{{games.title}}{{title}}</h1>
        </a>
        <span class="game-block-rating">{{games.rating}}{{rating}} stars, </span>
        <span class="game-block-category">{{games.type}}{{type}},</span>
        <span class="game-block-compness">{{games.compness}}{{compness}}</span>
    </div>
    <div class="game-block-content">
        <p>{{games.description}}{{description}}</p>

    </div>
</div>