<p>Hello from index.hbs!</p>

     {{!-- <a class="game-title" href="{{id}}"> --}}
            {{!-- </a> --}}

{{!-- {{> 'game'}} --}}


<ul class="homepage-games">
    {{#each games}}
        {{!-- <div class="game-block-header">
            <h4>{{ title }}</h4>
            <h2>Stars: {{ rating }}</h2>
        </div>
        <p>{{description}}</p> --}}
        {{!-- {{> 'game'}} --}}
    {{/each}}
</ul>

{{!-- {{#if !games}}
<h3>There's no games! Go add some!</h3>
{{/if}} --}}

<h1>TESTS</h1>

<h3>detecting if games is true...</h3>
{{#if games}}
<p>true detected</p>
{{/if}}
<p>test complete</p>
<br>

<h3>attempting to write games...</h3>
{{ games }}
<p>test complete</p>
<br>

<h3>attempting to log #each in games...</h3>
{{#each games}}
<p>a game has been written!</p>
{{/each}}
<p>test complete</p>
<br>