<p>Hello from show-all.hbs!</p>
<h3>Full Games List</h3>
{{#if games}}
<div class="show-all-games-block">
    {{#each games}}

    <div class="show-all-games-each">
        <span class="show-all-games-each-header">
            <a class="show-all-game-title" href="/games/{{id}}"> {{ title }} </a>
            Stars: {{ rating }}
        </span>
        <span class="show-all-games-each-body">
            {{type}}
            {{compness}}
        </span>
    </div>
    <br>
    {{/each}}

</div>
{{/if}}