<p>Hello from show-all.hbs!</p>
<h3>Full Games List</h3>
{{#if games}}
<div class="show-all-games-block">
    {{#each games}}

    <div class="mini-game-block">
            <a class="mini-game-title" href="/games/{{id}}"><p> {{ title }} </p></a>
            <p class="mini-game-rating">{{ rating }} stars</p>
            <p>{{type}}</p>
            <p>{{compness}}</p>
    </div>
    <br>
    {{/each}}

</div>
{{/if}}