<p>Hello from show-all.hbs!</p>
<h3>Full Games List</h3>
{{#if games}}
<div class="show-all-games-block">
    {{#each games}}

    <div class="game-block">
        <span class="show-all-game-block">
            <a class="game-title" href="/games/{{id}}"><p> {{ title }} </p></a>
            <p class="game-rating">{{ rating }} stars</p>
        </span>
        <span class="show-all-game-block">
            {{type}}
            {{compness}}
        </span>
    </div>
    <br>
    {{/each}}

</div>
{{/if}}