<p>hello from games/show-one.hbs</p>

{{!-- <p class="card">
    {{> 'game'}}
</p> --}}

<div class="game-area">
    <h1>
        {{!-- <a class="game-title" href="{{id}}"> --}}
            {{oneGame.title}}
            {{!-- </a> --}}
    </h1>
    <span class="rating">Rating: {{oneGame.rating}}</span>
    <p>{{oneGame.description}}</p>
    {{!-- <div class="actions">
        <a href="/games/{{ author.id }}" class="">
            {{author.local.email}}</a> --}}
        {{!-- <span class="game__date">{{ oneGame.createdAt }}</span> --}}
        {{!-- <span class="game_comments">{{ comments.length }} Comments</span> --}}
        {{!-- </div> --}}
</div>

<div class="comments-section">
    <h2>Comments</h2>

    <div class="add-comment-section">
        <h3>Join the Conversation</h3>
        <textarea>Insert your comment here (Not Functional)</textarea>
        <br>
        <button>Add A Comment (Not Functional)</button>
        {{!-- add the ability to add a comment, remove a comment --}}
    </div>

    <br>

    {{#each oneGame.comments}}
    <div class="individual-comments">
        <div class="individual-comments-content">
            {{content}}
        </div>
        <div class="individual-comments-stats">
            <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
            <span class="tweet__date">{{ createdAt }}</span>
        </div>
        <button>Delete Comment (Not functional)</button>
    </div>
    <br>
    {{/each}}
</div>