<p>hello from games/show-one.hbs</p>

{{!-- structure of creating and reading a comment is Express Twitter. --}}
{{!-- structure of update and delete is my code. --}}
{{games.id}}

{{!-- Why does this not work? --}}
{{!-- <button method="POST" type="submit" class="delete-btn" action="/games/{{ games.id }}?_method=DELETE">Delete
    button</button> --}}
<form method="post" action="/games/{{ games.id }}?_method=DELETE">
    <input type="submit" value="Delete in form" class="btn">
</form>

{{> 'game'}}

<button class="btn" onclick="location.href = '/games/edit/{{games.id}}';">Edit Game</button>

<div class="comments-section">
    <h2>Comments</h2>

    {{!-- {{#if currentUser }} --}}
    <div class="add-comment-section">
        <h3>Join the Conversation</h3>

        <form method="POST" action="/games/{{games._id}}" class="add-comment-form">
            <p class="add-comment-input-field">
                {{!-- <label for="content"></label> --}}
                <input type="text" name="content" id="">
            </p>
            <p class="add-comment-submit-btn">
                <input class="btn" type="submit" value="Submit">
            </p>
        </form>
            
    </div>
    {{!-- {{/if}} --}}

    <br>

    {{#each games.comments}}
    <div class="individual-comments">
        <div class="individual-comments-content">
            {{content}}
        </div>
        <div class="individual-comments-stats">
            <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
            <span class="game__date">{{ createdAt }}</span>
        </div>
        {{!-- <button>Delete Comment (Not functional)</button> --}}
    </div>
    <br>
    {{/each}}
</div>